extends layout

block content
  //h1= title
  //p Welcome to #{title}
  .form-zone
    .title-zone
      h1 Member Sign In
    form(method='POST')
      .input-zone
          input(type='text' name='email' placeholder='Email')
      .input-zone
          input(type='password' name='password' placeholder='Password')
      .input-zone
        input.btn(type='submit' value='SIGN IN')
      .bottom-link
        a(href='/sign-up') Create your account here