extends layout

block content
  .form-zone
    .title-zone
      h1 Sign Up Now!
    form(method='POST')
      .input-zone
          input.input100(type='text' name='username' placeholder='Username')
      .input-zone
          input(type='email' name='email' placeholder='Email')
      .input-zone
          input(type='password' name='password' placeholder='Password')
      .input-zone
        input.btn(type='submit' value='SIGN UP')
      .bottom-link
        a(href='/') Go back to main page